[2020-02-03 10:50] gubuntu opened #26 "activate print control on load"
Either the print control needs to be activated or it needs to be made very obvious that that is what needs to be activated by the user, and how to do so.

[2020-02-03 10:51] gubuntu opened #25 "make help available"
Brandon should be producing a one-page help doc

please provide a link to show it

[2020-02-03 10:58] gubuntu opened #24 "integrate with SAGTA authentication"
SAGTA wants to limit access to the downloader to users who are paid up SAGTA members, i.e. have an active account on https://sagta.org.za. They will need to see and use all SAGTA map projects in lizmap (but no admin access).

public package = 'SAGTA Map Downloader Lite'
members' package = 'SAGTA Map Downloader Pro'

Detailed permissions

functionality | topo | ortho | hybrid
-|-|-|-
all | member |

[2020-02-03 12:06] gubuntu opened #23 "set layout to local TM zone"
programmatically OR
using separate projects OR
using map themes

[2020-02-03 12:10] gubuntu opened #22 "add TM grid to map"

[2020-02-03 12:19] gubuntu opened #21 "add list of map sheets from which user's map is composed"
option 1: show index sheet with labels on map

option 2: show list of map sheets that compose the map (as below)

[2020-02-03 12:20] gubuntu opened #20 "add magnetic declination arrow and explanation"
show true north and magnetic declination as closely as possible to the real toposheets

get the declination from https://www.ngdc.noaa.gov/geomag/calculators/help/declinationHelp.html for the current date and the centre coordinates of the map

annotate the declination arrow with the date and source

[2020-02-26 19:09] gubuntu opened #19 "fix favicon"
Kartoza logo for Kartoza sites

SAGTA logo for map downloader

[2020-04-17 13:04] NyakudyaA opened #18 "We need to optimise sagtamapdownloader"
# Solution

Add the following to Nginx conf

[code]

php conf or use env variables
[code]

Lastly, we need to scale out the containers
lizmap + 2
map + 2
nginx + 2

[2020-04-18 15:23] gubuntu opened #17 "contours layers not showing"
I've changed the orthophoto theme to draw 5m contours for 1:10000 and to layer blend the NGI topo layer at smaller scales.

However, in quite a few places I made maps in, there are no 5m contours. Are there really so few in SA or is the layer not working?

and the 20m contours do not draw at 1:10000  - do they have scale thresholds set on geoserver? Please enable them at 1:10000

[2020-04-18 15:27] gubuntu opened #16 "Site unstable and intermittent"
Whether it's from high load or misconfiguration, I'm getting 504s quite a bit when loading the site and then reloading doesn't work consistently, I have to try a few things before it reloads properly.

And for the first time I got a 504 when printing. Then when I tried to print again I got errors like

[code]

We can't have errors like this in production and urgently need sentry or other monitorin

[2020-04-19 12:13] gubuntu opened #15 "Problem: WMS providers don't support high dpi or large request size"
It seems the topo and ortho WMS layers have either size or resolution limits - that's why high dpi or large maps sometimes don't have any content.

Perhaps the logs will show errors?

Does QGIS fetch a single image or tiles? Where can we control this?

Try to figure out what the limits are so we remove unworkable options...

[2020-05-13 16:40] gubuntu opened #14 "add monitoring and alerts"
We need to know whenever there's
- a timeout
- other error
- 502
- 500
- etc.

Set up tools like Sentry, Promethus, Grafana etc. with alerts to Rizky, Admire, Gavin

Do this in a way that we can apply to all our servers - this is serious technical debt we need to fix.

[2020-05-26 05:39] gubuntu opened #13 "improve contour style"
This will benefit all consumers of this layer, not just SAGTA

it's great that the 5m contours are rendering now.

[topomaps_A3_landscape_orthophoto-6.pdf](https://github.com/kartoza/kartoza/files/4680057/topomaps_A3_landscape_orthophoto-6.pdf)

However, I think they are a bit intense and the labelling could be better. Why not use the topostyle version?

Contour colour is fine, maybe thinner with

[2020-06-30 14:29] gubuntu opened #12 "make contours on orthophoto maps black"

[2020-06-30 14:31] gubuntu opened #11 "add annotation"
allow the user to add and edit and delete geometries and labels that remain for a whole session and get printed in any maps that the user downloads, if they overlap the print extent.

Something like https://github.com/3liz/lizmap-web-client/issues/1610 or better still, wait for LizMap to support Redlining https://docs.qgis.org/3.10/en/docs/user_manual/working_with_ogc/server/services.html#redlinin

[2020-06-30 14:40] gubuntu opened #10 "snap extent to closest grid"
The current grid numbering starts at the first complete grid cell, which leave the first part cells unnumbered. Solutions are either to start numbering on the part grid cells at the origin or to snap the extent to start at a whole grid cell (arc minute)

this is an alternative to kartoza/SAGTA#9

[2020-06-30 14:42] gubuntu opened #9 "current alphanumeric grid does not start at origin - it must"
in other words, the numbering should start in the first part-cell, not the first full cell

this is an alternative to #10

[2020-06-30 14:51] gubuntu opened #8 "remove 0" and replace minus sign with cardinality letter in graticule labels"
or put the cardinality letter once on each axis if possible

[2020-06-30 14:54] gubuntu opened #7 "split topo, ortho and hybrid maps into separate Lizmap projects"
blended maps we are calling 'hybrid'

we need to add 1:10000 hybrid when topos are available at 1:10000

then add conventional orthos at the other scales

OR add another split in the print menu dropdowns 1. A4 landscape 2. type (ortho, topo, hybrid) 3. scale 4. dpi etc.

[2020-10-06 06:44] NyakudyaA opened #6 "Add context layers to all templates"
- [x] rivers
- [x] Water features

[2020-10-18 15:14] gubuntu opened #5 "papercuts from 9 Oct launch"
- [x] Make title box bigger or adaptive. Long titles get cut off (#610)
- [x] Anywhere latutides are shown as negative, they should instead show S
- [x] some templates still have ratio scale, scale bar and other items overlapping = messy
- [x] on of the A3 teamplates says ‘only 1:50000 on A4’. Check all of these

[2020-10-18 15:15] gubuntu opened #4 "add cross-sections"

[2020-12-26 13:13] gubuntu opened #3 "Bring in imagery"
link up with SANSA to bring in imagery and RS functionality

[2021-01-28 07:52] gubuntu opened #2 "create a SAGTA repo and move code and issues there"
templates, expressions, LizMap mods, etc. should be versioned in a proper repo

[2021-02-22 15:18] NyakudyaA opened #1 "Upgrade lizmap to version 3.4"
# Task/Issue

Upgrade the cluster from using lizmap 3.3 and QGIS Server 3.14 to lizmap 3.4

# Solution

I upgraded the cluster by adding http://rancher.kartoza.com:8080/env/1a135108/apps/stacks/1st1435

Now we need to do finish the migration by adding
* Load balancer as specified in http://rancher.kartoza.com:8080/env/1a135108/apps/stacks/1st1307
* Then turn off the old cluster
* Keep the old clus

[2021-02-24 10:58] NyakudyaA opened #27 "Map title are encoded using lizmap v3.4"
# Problem

See the following image
![ecoded](https://user-images.githubusercontent.com/2510900/108990753-f5c2e400-769f-11eb-9699-b9394ba51835.png)

# Solution

https://github.com/3liz/lizmap-web-client/issues/2154

[2021-02-24 11:34] #27 closed, assigned to NyakudyaA

[2021-02-24 12:07] #18 closed, assigned to NyakudyaA

[2021-02-24 12:09] #16 closed, assigned to lucernae, NyakudyaA

[2021-02-24 12:15] #11 closed, assigned to nobody

[2021-02-24 12:48] NyakudyaA opened #29 "Investigate no grid labels since upgrade to v3.4"
# problem

Check why the plugins are not working or partially working

[2021-02-25 07:35] #29 closed, assigned to NyakudyaA

[2021-02-25 13:01] #25 closed, assigned to nobody

[2021-03-04 10:46] #7 closed, assigned to NyakudyaA, seabilwe

[2021-03-04 15:44] #6 closed, assigned to NyakudyaA

[2021-03-09 08:54] #2 closed, assigned to nobody

[2021-03-19 09:37] lucernae commented on #24
@gubuntu just a wrap up from our discussion with @NyakudyaA @meomancer @dimasciput :

From the deployment/ops side, I want:
- Use approach that is decoupled with the programming language stack because the main website sagta.org.za and lizmap use different stack
- Recommended SSO-like implementation to make it easy for ops to deploy. Possible approach is to use OAuth or JWT token

From the developm

[2021-03-30 13:11] #20 closed

[2021-04-01 11:59] NyakudyaA commented on #1
This has been completed

[2021-04-01 11:59] #1 closed

[2021-04-19 06:56] NyakudyaA opened #32 "Enable notification when printing maps"
# Problem

When printing topomaps , there is a delay in rendering due to a couple of reason ie
fetching tiles from external service providers

* OSM tile servers
* NOAA Api for fetching and calculating the magnetic declination
* QGIS Server request in queue

We need a clean solution to prevent users from trying to print multiple times

# Solution
* Add a popup notification when the print icon is e

[2021-04-19 11:49] NyakudyaA opened #33 "Slow and unresponsive print layouts"
From email correspondence

This afternoon, I attempted to use the SAGTA map downloader facility both with, and without, logging into SAGTA.
When attempting to download a 1:50 000 topographic map, in either jpeg or pdf formats, and pressing "print" after selecting dpi settings etc, nothing happens after a reasonable amount of time (in excess of 5 minutes waiting). I tried selecting other areas to p

[2021-04-19 12:21] seabilwe commented on #33
@NyakudyaA , I can confirm that the response time for the layouts mentioned is between 1 to 2 minutes on my side. But does not exceed 3 minutes. I'll have a look

[2021-04-21 06:14] seabilwe commented on #33
@NyakudyaA
Looking at both the staging and the production:
- The hybrid and orthophoto both take about 1 to 2 minutes to print out a map. This for both A3 and A4 templates at all 5 scales
- The **topographic** is the one that has the bigger issue, as mentioned in the table "In excess of 10 minutes (no response received)"
I had a look at the QGIS project for the topographic one and the rendering sp

[2021-04-21 06:23] seabilwe commented on #12
@NyakudyaA @gubuntu  Can this be closed because both the 20m and 5m contours for the orthophoto are already black

[2021-04-21 06:31] NyakudyaA commented on #12
@seabilwe If you attach screenshots you can close

[2021-04-21 06:33] seabilwe opened #34 "MD on the map downloader is too large"
![magt](https://user-images.githubusercontent.com/56301949/115507282-35f7aa80-a27c-11eb-84f6-a5904036ece0.jpeg)
![Attachment0](https://user-images.githubusercontent.com/56301949/115507284-37c16e00-a27c-11eb-9134-6d814f132f1d.jpeg)

[2021-04-21 06:40] seabilwe opened #35 "Checklist"
Should make sure of the following

- [ ] The site is up and running - This will be fixed with Rizky when he deploys this later but for now we randoms check it.
- [ ] Ensure all templates are being printed properly - Currently there are some embarrassing little bugs with the map templates
- [ ] Address any new issues that are raised by Bridget or Brandon ie

[2021-04-21 06:50] seabilwe commented on #12
![image](https://user-images.githubusercontent.com/56301949/115509329-97207d80-a27e-11eb-80eb-a10d576fa602.png)

[2021-04-21 06:50] #12 closed

[2021-04-22 07:25] seabilwe commented on #8
I followed this https://github.com/kartoza/kartoza/issues/600 for all the layouts, and fixed up the font and graticule styles.
The issue I keep seeing is there are print layouts at certain scales where the graticule values are not appearing especially on the right side of the grid (example below).
![A4_portrait_50000](https://user-images.githubusercontent.com/56301949/115673140-948c5980-a34c-11eb-

[2021-04-22 08:16] seabilwe commented on #13
@NyakudyaA I made some mall changes to the contours, because the labeling does not look neat with the white buffer that I had initially done:

initial style:
![old style contour](https://user-images.githubusercontent.com/56301949/115679216-9f49ed00-a352-11eb-93f2-fb265ce9a78c.PNG)

current style:
![20m_contours](https://user-images.githubusercontent.com/56301949/115679303-b8eb3480-a352-11eb-9de6-3

[2021-04-22 10:31] NyakudyaA commented on #13
@seabilwe please check the name of the styles we are currently using and update them in geoserver

[2021-04-22 10:48] seabilwe commented on #13
Okay @NyakudyaA

[2021-04-28 07:05] seabilwe commented on #17
@NyakudyaA I filtered the contours to be 10m
![image](https://user-images.githubusercontent.com/56301949/116360946-bda36300-a800-11eb-8e8a-1ba9135ea52d.png)

[2021-04-28 08:17] seabilwe commented on #13
@NyakudyaA 20m contours have been styled
![image](https://user-images.githubusercontent.com/56301949/116370515-c6009b80-a80a-11eb-92fe-6ef89b60abaf.png)

[2021-05-02 18:54] gubuntu commented on #17
Why?

Please draw whetever is in the 5m contour layer

[2022-01-13 10:29] seabilwe opened #36 "Remove the black contours from the hybrid map"
- [ ]  The black contours on the hybrid map creates an offset effect, they must be removed.

![image](https://user-images.githubusercontent.com/56301949/149313228-ff351f7c-bc4b-4a56-bc30-181ea3709ef4.png)

[2022-01-13 10:35] seabilwe opened #37 "Remove red grid from hybrid map"
- [x] The hybrid map is not supposed to have a red grid that must be removed

[2022-01-14 07:46] seabilwe commented on #36
- Switched off the 20 m black contours and updated the hybrid map theme
![image](https://user-images.githubusercontent.com/56301949/149469994-35d3dbc8-8cb0-4990-8deb-9fdfb7be595e.png)
![image](https://user-images.githubusercontent.com/56301949/149470111-c5799667-e8e7-4ebf-92c4-9eda36c30018.png)

Offset effect removed
![image](https://user-images.githubusercontent.com/56301949/149470372-7d624098-11

[2022-01-14 08:14] seabilwe commented on #37
- Red grid  have been removed from the hybrid map
![image](https://user-images.githubusercontent.com/56301949/149471515-474ca6d6-0581-4fff-909a-191badaf3a6f.png)
![A4 portrait hybrid](https://user-images.githubusercontent.com/56301949/149474058-3eed9f64-6243-4cd6-9443-8b3498755531.png)

[2022-02-02 15:15] gubuntu commented on #37
the above is an ortho, not hybrid

[2022-02-02 15:21] gubuntu commented on #36
the black contours are still in the hybrid map I just downloaded (see #37)

[2022-02-02 15:42] gubuntu commented on #13
contour labels should face uphill so if using QGIS you need to use these options. If the contours are all running in the same direction e.g. clockwise, like NGI contours are, then the labels will orient correctly. If you are using Geoserver I'm not sure if there are similar options yet.
<img width="420" alt="Screenshot 2022-02-02 at 17 37 46" src="https://user-images.githubusercontent.com/496911/1

[2022-02-02 16:54] gubuntu commented on #17
closing since OP is redundant after split between hybrid and ortho, will open new issues re contours

[2022-02-02 16:54] #17 closed

[2022-02-02 17:00] gubuntu opened #38 "remove all 1:10000 print option from hybrid maps"
the topo sheet layer does not render at 1:10000 so it is pointless offering a hybrid at that scale

[2022-02-02 17:07] NyakudyaA commented on #36
The latest project that have these changes is deployed here http://maps.kartoza.com:8084/. Can you confirm if the fixes are fine and I will deploy to the production

[2022-02-02 17:10] gubuntu opened #39 "check these contour rules for ortho maps"
for just the ORTHO maps (not hybrid or topo):

1:10000 must draw 5m (NOT filtered for 10m) AND 20m contour layers. 5m must draw over 20m. The 20m layer is just there for areas where there is no 5m data. If you can set up rules to NOT draw 20m contours where there is 5m data then do so.

All other scales ONLY draw 20m contours.

All orthos obviously also draw spot heights and trig beacons.

[2022-02-03 08:38] seabilwe commented on #36
@NyakudyaA I am trying to print out a hybrid map (to check the fixes) from the link you provided (http://maps.kartoza.com:8084/) and there are no prints appearing to be downloaded.
![downloading-hybrid-map](https://user-images.githubusercontent.com/56301949/152308378-9a8a190b-eea0-4748-8436-1896537f2d7f.gif)

[2022-02-03 10:40] seabilwe commented on #13
@gubuntu, here is the current contour styling applied
1. 20 m contours
![image](https://user-images.githubusercontent.com/56301949/152314197-8adc0160-5cdf-4d8f-94a9-3f9f47b34bc7.png)
![image](https://user-images.githubusercontent.com/56301949/152314269-d9c8e857-228d-42be-b717-7f2625259e0b.png)

2. 5 m contours
![image](https://user-images.githubusercontent.com/56301949/152325826-7bbbd107-07e8-4240

[2022-02-03 10:54] seabilwe commented on #38
1:10 000 print option for the hybrid map is removed cc @NyakudyaA

![image](https://user-images.githubusercontent.com/56301949/152329010-f023a4a4-d5b3-441f-bca4-52cfc3d7fe62.png)

[2022-02-08 10:16] NyakudyaA commented on #33
This is fixed by the new deployment which prevents users from clicking print multiple times. The request is queued properly

![Peek 2022-02-08 12-15](https://user-images.githubusercontent.com/2510900/152966796-1311a49b-e7b4-4cea-9537-71c61536dd22.gif)

[2022-02-08 10:19] seabilwe commented on #37
The red grid has been removed from the hybrid map.

![image](https://user-images.githubusercontent.com/56301949/152967247-e354d08d-210c-4b59-b264-1c9c06ed028b.png)

[2022-02-08 10:21] seabilwe commented on #36
The black ortho contours have been removed from the hybrid map
![image](https://user-images.githubusercontent.com/56301949/152967677-6520a103-787d-40e8-a393-8c87157be070.png)

[2022-02-08 10:22] #32 closed

[2022-02-08 10:26] seabilwe commented on #38
The 1:10000 scale option has been removed from the hybrid map layout
![image](https://user-images.githubusercontent.com/56301949/152968575-0fd8caed-9db3-4729-89ff-72b3a8c05e3d.png)

[2022-02-08 14:46] NyakudyaA commented on #35
Superseded by #14

[2022-02-08 14:47] NyakudyaA commented on #5
I have tried to set `QGIS_SERVER_SHOW_GROUP_SEPARATOR` but nothing comes up. So will leave this as a todo

[2022-02-08 15:25] #5 closed

[2022-02-08 15:26] gubuntu opened #40 "Remove comma from ratio scale"
Anywhere a ratio scale has a comma, remove the comma, e.g. 50,000 to 50000
(Moved from #5)

[2022-02-10 10:14] NyakudyaA commented on #9
I have passed this to @vermeulendivan to have a look asap

[2022-02-11 08:00] NyakudyaA commented on #15
@seabilwe I have tested printing the high-resolution images and they all return data. Can you please just test a couple and verify if they are all printing on your side as well. Test them on https://staging.sagtamapdownloader.kartoza.com

[2022-02-11 08:11] seabilwe commented on #15
@NyakudyaA I've a couple of maps and all returned data

[2022-02-21 08:50] gubuntu opened #41 "profile tool"
allow pro users (members) to digitise a line and return a profile that can also be saved as a pdf.

What to use as base DEM?

supersedes #4

[2022-02-23 11:16] NyakudyaA commented on #40
https://github.com/3liz/lizmap-web-client/issues/2709

[2022-03-03 12:40] wolfbyne commented on #19
I guess this favicon is just being used from the lizmap-web-client image and needs to be changed their somehow...

[2022-03-03 12:45] #4 closed

[2022-03-03 12:46] gubuntu commented on #4
duplicated by #41

[2022-03-03 14:43] gubuntu commented on #38
I think the 1:100k and 1:150k options should also be removed from the hybrid offering as the orthos don't look good at those scales, neither does the topo. Except that print scales are linked to the map scales, which will remove those options from the web map too, so maybe keep them, what do you think?

[2022-03-03 14:45] gubuntu opened #43 "overview map broken"
The overview map is supposed to show the whole country, not be zoomed in like this

<img width="262" alt="Screenshot 2022-03-03 at 16 43 46" src="https://user-images.githubusercontent.com/496911/156587564-158ac552-365f-4925-92ce-7ca63636a93f.png">

this is on the hybrid map on the staging site.

check all the other maps too.

[2022-03-04 07:09] gubuntu commented on #24
@NyakudyaA have you set up the folders as you propose above, on the staging site, so @dimasciput can set up and test auth accordingly?

[2022-03-04 07:12] NyakudyaA commented on #24
Not yet, Will do this shortly so that he can test the auth

[2022-03-04 09:23] gubuntu commented on #13
LGTM

[2022-03-04 09:23] #13 closed

[2022-03-04 12:03] NyakudyaA commented on #24
This has been set up but should I completely disable anonymous viewership for the satging site ?

[2022-03-04 14:29] NyakudyaA commented on #38
This has been fixed and deployed on staging.

[2022-03-05 14:24] gubuntu commented on #41
Here's the solution https://github.com/arno974/lizmap-altiProfil

Do we already have SRTM for SA in a PostGIS DB? We could use that directly else load it into the SAGTA PostGIS backend.

[2022-03-05 14:36] gubuntu commented on #11
@NyakudyaA where is the control for this?

Note this must be available only to pro users

[2022-03-05 14:38] gubuntu commented on #34
Is the MD enabled in production? It needs to be in place asap for pro users

[2022-03-05 14:40] gubuntu commented on #9
@vermeulendivan have you made progress? Are you doing #9 or #10?

[2022-03-05 14:48] #38 closed

[2022-03-05 14:49] #35 closed

[2022-03-05 14:49] #36 closed

[2022-03-05 14:50] #37 closed

[2022-03-07 06:43] NyakudyaA commented on #19
Updated the nginx config on staging with the following
[code]

[2022-03-07 06:55] NyakudyaA commented on #9
@gubuntu How would you like a situation like an image below to be depicted.
![2022-03-07_08-50](https://user-images.githubusercontent.com/2510900/156982308-5d985837-81d9-4131-a050-088b440439b6.png)

There will be some cells that are way smaller and the lettering would be too small.

[2022-03-07 09:17] vermeulendivan commented on #9
@gubuntu Tried multple approaches, but nothing seems to completely resolve the issues (#9), did have a chat with Admire about this. On snapping to the grid (#10), couldnt find an approach which which allows this in the layout view. Also asked in a qgis community on Telegram, and people responded saying that they are not aware that is possible.

[2022-03-07 09:54] gubuntu commented on #9
Yes that row should be A. Even if it is small, can you do it?

One solution could be that if it is a sliver, say <1/8 of a cell, don't label it but if it is bigger then do.

#10 would be more elegant but then the cells at the bottom and on the right might not be complete - but the current logic I think would still label them.

[2022-03-07 09:58] gubuntu commented on #10
@divan you say the lists say this is currently not possible...well it surely is with some clever expressions.

get upper left coordinate
  if not a round coordinate that would match a grid cell corner
    pan map such that upper left does match grid cell corner.

[2022-03-07 11:03] vermeulendivan commented on #41
@gubuntu Do we have a DEM yet? From what it seems we don't. I've created a SRTM DEM mosaic which covers the entire SA a few months ago "for fun" on my own time. Its still at 30m spatial resolution, about 2gb ins size, but pretty sure we can use better storage/format.

![image](https://user-images.githubusercontent.com/79740955/157019259-4b829e13-8fe7-4161-b738-0a1bdadd36d9.png)

[2022-03-07 11:06] NyakudyaA commented on #41
We already have this also in maps.kartoza but can you clip to SA extent and convert to COG and I will upload it to the cloud storage

[2022-03-07 11:13] gubuntu commented on #41
No CoG, from my reading of the docs it has to be in PG.

I think we should be able to use the one in the maps.kartoza.com backend if it is already in PG (or is it just a tiff?)

[2022-03-07 11:31] vermeulendivan commented on #41
@NyakudyaA Its already clipped/masked to the coastal boundary (love using dark mode on qgis), but will perform clipping to the northern SA border as well.

![image](https://user-images.githubusercontent.com/79740955/157020150-251ef16a-bddd-49f4-8b05-38d87ec412e6.png)

[2022-03-07 11:34] NyakudyaA commented on #41
@vermeulendivan https://maps.kartoza.com/geoserver/kartoza/wms?service=WMS&version=1.1.0&request=GetMap&layers=kartoza%3Asouth_africa&bbox=16.451890000000276%2C-34.834170000000086%2C32.944980000000214%2C-22.125029999999242&width=768&height=591&srs=EPSG%3A4326&format=application/openlayers

[2022-03-07 16:39] gubuntu opened #44 "documentation"
@Brandon Louw all Map Downloader help should go into this page https://sagta.org.za/admin/pages/22/. Please edit that and add YouTube links, list of features, everything that you think a user needs to know about. Then publish it and let @NyakudyaA know so we can put the link in the 'i' button text in the downloader

[2022-03-07 20:19] NyakudyaA commented on #41
In the docs they mention the raster type should be   `MNT`. @gubuntu do you know how to configure this on ingestion to the DB

[2022-03-08 06:17] gubuntu commented on #41
I think it's just French for DEM

[2022-03-08 07:15] seabilwe commented on #43
#Problem
The overview map is supposed to show the whole country, not be zoomed in.

From what I can gather, the overview map is taking the extent of the layer in the map canvas, and not showing the full extent of South  Africa. The Lizmap configurations for both staging and production are the same.

From this link: https://docs.lizmap.com/3.2/en/publish/advanced_lizmap_config.html, Lizmap is suppo

[2022-03-08 12:53] vermeulendivan commented on #9
@NyakudyaA Just some feedback. Fixed the issue when its the last grid block on the x-axis. See attached. The solution for the y-axis will differ. Will also look at the first grid block cases, will likely be similar for the x-axis, unsure about the y-axis atm.

![image](https://user-images.githubusercontent.com/79740955/157241447-23943378-f680-4e5f-8b8a-1756305db118.png)

[2022-03-08 15:05] gubuntu commented on #24
How did it go today? If it's all done please post some screencasts here of it working and close

[2022-03-08 15:11] seabilwe commented on #34
### Magnetic Declination Symbol
The MD symbol was designed using Inkscape, replicating the one in the NGI topomaps
![md_symbol2](https://user-images.githubusercontent.com/56301949/157260229-36d5aa70-e90e-4306-8e9f-bab40cb4c75b.png)
SVG:
![md_symbol](https://user-images.githubusercontent.com/56301949/157260308-505528bd-aba3-47ea-aa5f-c7fe2463d004.svg)

### Magnetic Declination
To calculate the MD,

[2022-03-08 15:12] NyakudyaA commented on #41
![profile-tool](https://user-images.githubusercontent.com/2510900/157266396-5de444e5-f7bc-46ae-9a46-4ddbcf4edfd6.png)

Still debugging why the request are failing

[2022-03-08 15:14] NyakudyaA commented on #34
@seabilwe I am going to deploy the plugin on the server and when you have the project ready you can save one i.e topomaps so that we can test

[2022-03-08 15:15] seabilwe commented on #34
Okay @NyakudyaA

[2022-03-08 16:00] vermeulendivan commented on #9
The cause for the bottom y-axis grid block is not due to the python code - the code correctly determines that F should be the last block. The qgis expression which calls the code is only called 5 times, and not 6 times as it should be. The 6th time should be for the bottom grid. Not sure why qgis only calls the expression 5 times, will look into this.

Grid values to be used by python code
![image

[2022-03-09 09:06] seabilwe commented on #34
@NyakudyaA in the A3 landscape topo layout, I tried to change the name of the item variable, but it would still not pick up the feature in order to calculate the MD
![image](https://user-images.githubusercontent.com/56301949/157406091-3ed8d266-c68d-4571-8d25-9661e0abab65.png)

Then I used this initial expression to calculate the MD, which will give values in decimal degrees, but came to a similar

[2022-03-09 13:14] seabilwe commented on #43
## Solution 2
Another alternative could be to remove the overview group in staging for all three projects and add it again to see if it will make a difference with fixing the extent.

I have used the alternative method, but the overview map remains in its zoomed extent (i.e., when viewing the staging site).

- The setting on both staging and production projects are the same.
- The configurations o

[2022-03-10 07:13] seabilwe commented on #43
From what @NyakudyaA was able to find

The overview map is somehow linked to map scales defined in the project. As shown in the picture, this is with a final scale of, 45000000 defined in the scales.
![overview](https://user-images.githubusercontent.com/56301949/157607573-7f59d49e-6943-4545-a15b-60406534f126.png)

With a max scale defined as, 250000 you are only able to preview the following
![max

[2022-03-10 08:24] gubuntu commented on #43
If it really is a change in LizMap code please log a bug report

[2022-03-10 09:13] NyakudyaA opened #46 "Print status not available"
# Problem

When printing directly from maps.kartoza.com you get the following
![Peek 2022-03-10 11-09](https://user-images.githubusercontent.com/2510900/157629088-2950da33-1202-4646-a048-5de168147ed1.gif)

But printing from maps.sagta.org.za you get the following
![asd](https://user-images.githubusercontent.com/2510900/157629245-4a6e4b80-1b04-42bf-a04c-607dc7cf64b9.png)

# Solution
Investigate if

[2022-03-10 10:35] seabilwe commented on #34
## Modified MD script

[code]
## Modified MD Expression
`map_decl(y(transform(map_get( item_variables('A3landscape'), 'map_extent_center'), 'EPSG:3857','EPSG:4326')),x(transform(map_get( item_variables('A3landscape'), 'map_extent_center'), 'EPSG:3857','EPSG:4326')))`

[2022-03-10 11:42] dimasciput commented on #24
@gubuntu this is done and already tested and deployed.

[2022-03-10 11:47] seabilwe commented on #43
Bug reported: https://github.com/3liz/lizmap-web-client/issues/2837

[2022-03-10 12:15] NyakudyaA commented on #9
This has been partially done and already deployed

[2022-03-11 08:14] NyakudyaA commented on #34
This has been fixed on the server.
![render](https://user-images.githubusercontent.com/2510900/157828523-bd0998a6-08b1-4d5a-bf67-fefa46839bc8.png)

[2022-03-11 11:12] NyakudyaA commented on #43
@gubuntu It seems like https://www.3liz.com/en/news/lizmap-web-client-3-5.html specifies that this change was sponsored and activated in lizmap 3.5. Should we keep it as it is or remove it considering that this won't change going forward

[2022-03-11 14:50] gubuntu commented on #43
@NyakudyaA @seabilwe I think disable the overview map if you can't figure out a way to make it useful in our context

[2022-03-12 08:32] bflouw opened #47 "index grid printing when not wanted"
Graticule rendering on the map. This creates noise. Could this please be removed from the printed map?

[2022-03-13 10:05] NyakudyaA commented on #46
This is sorted now

[2022-03-13 10:05] #46 closed

[2022-03-18 06:45] NyakudyaA opened #48 "Mapdownloader staging site"
# Problem

Since we launched the pro vs lite version people can still access staging environments with all projects. We need to fix this

# Solution

* Change permissions for all projects to be accessible to logged-in users
* Anyone who needs to test should request access to log into the site

[2022-04-06 16:24] gubuntu commented on #43
This is fixed so keep disabled until 3.5.3 deployed then re-enable

https://github.com/3liz/lizmap-web-client/issues/2837#issuecomment-1090100503

[2022-04-08 07:48] vermeulendivan commented on #9
@gubuntu @NyakudyaA

These examples works with snapping of the top-left corner and includes all other fixes for the labelling, and updating based on the map scale. 25k is still giving issues, so not included as an example. Issue does not seem to be related to labelling/snapping.

50k
![image](https://user-images.githubusercontent.com/79740955/162389141-ee9e626f-348c-4985-b6bd-3e6cb21147f6.png)

10

[2022-04-08 08:10] NyakudyaA commented on #9
Thanks @vermeulendivan Maybe a gif would be better to illustrate the fix

[2022-04-08 08:22] vermeulendivan commented on #9
@NyakudyaA Great idea! I will put something together once the 25k maps work.

[2022-04-11 09:35] vermeulendivan opened #52 "Move map label position for a single grid"
Currently the grid labelling makes use of a single value for applying the position of the label for each grid block. Which in this case is always the center of the full-block.
![image](https://user-images.githubusercontent.com/79740955/162709354-743ce4c8-97d0-43eb-9fc8-06287fea49f9.png)

Smaller grid blocks, which does not include the center, will therefore not show the label.
![image](https://use

[2022-04-11 11:10] vermeulendivan commented on #52
The offset can only be set once. QGIS calls the offset expression for the x-axis and y-axis, and then sets the offset value which will be used. Then, when that is done, QGIS starts calling the expression for each label (individually) for both the x-axis and y-axis - during this step the offset can no longer be changed, and the expression for the offset values are not called again. It is therefore

[2022-04-11 11:10] #52 closed

[2022-04-12 12:35] seabilwe opened #53 "Contours not appearing on Orthophoto map"
Update regarding the issue reported this morning
![image](https://user-images.githubusercontent.com/56301949/162963445-b8e7b1b1-7ed4-4c9d-8490-0a8285910149.png)

The layer styles for the 20 and 5 m contours were checked and everything is still intact.
https://maps.kartoza.com/geoserver/web/ seemed to have been down, Admire restarted the geoserver container on rancher, but it keeps going down.
Admi

[2022-04-12 13:00] #10 closed, assigned to vermeulendivan

[2022-04-13 14:16] seabilwe commented on #53
@gubuntu

The rendering of the contours was tested in the staging https://staging.sagtamapdownloader.kartoza.com/index.php/view/map/?repository=kartoza&project=sagta_ortho. The contours are still not rendering. So far, https://maps.kartoza.com/geoserver/web/ is working okay.

@NyakudyaA is testing the issue on his local machine.

[2022-04-14 15:03] NyakudyaA commented on #41
Just update here. I am getting somewhere now.
![values-in-db](https://user-images.githubusercontent.com/2510900/163418338-38b49fd9-ae7a-4f71-bda4-d6928e1d1edc.png)

Still the error is coming from the query that is generated in the backend to actually draw the profile

[code]

[2022-04-14 17:57] NyakudyaA commented on #41
Update this seems to be working now but the SQL queries for generating the profile seem to be a bit slow:
![profile-update](https://user-images.githubusercontent.com/2510900/163449061-5aaacf4a-501a-4408-b896-e043b7f154d7.png)

#TODO
*  It seems the profile tool is globally activated for the whole project and we only need to activate it for the members

[2022-04-20 12:00] seabilwe opened #54 "Add enhancement option for magnetic declination – when it is not available"
# Problem
![image](https://user-images.githubusercontent.com/56301949/164225470-f6c5166a-8c34-4d60-872c-e3d06ee9c5f8.png)

# Solution
We need to add an option on the map, which will notify the user when the magnetic declination is unavailable.

[2022-04-21 07:17] seabilwe commented on #54
@NyakudyaA  I added the script and tested the rendering of the text, The text renders okay
![2022-04-20_22-58](https://user-images.githubusercontent.com/56301949/164396351-508ea995-2005-4ce0-9404-50f7e7438c58.png)

But when adding this expression to the previous MD expression, I get these results
[code]

![2022-04-20_23-13](https://user-images.githubusercontent.com/56301949/164396579-c37d9f08-5403

[2022-04-21 07:44] NyakudyaA commented on #54
@seabilwe the expression
[code]
should only be used if we need to actually prevent the magnetic declination text and arrow to be printed
![2022-04-21_09-42](https://user-images.githubusercontent.com/2510900/164405000-a4299fd7-ca2e-45cd-be43-b78f0b69b4a5.png)

but I think we can just skip it for now

[2022-04-21 13:55] #54 closed

[2022-04-21 13:56] NyakudyaA commented on #48
This is deployed on staging site

[2022-05-09 10:40] NyakudyaA commented on #34
This has been resolved to specifications
![mag-decl](https://user-images.githubusercontent.com/2510900/167393909-15025d41-5837-47f6-a20c-0076557cf089.png)

[2022-05-09 10:40] #34 closed

[2022-05-12 15:57] #19 closed

[2022-05-14 09:02] NyakudyaA commented on #41
Update: I have optimised the SQL that generates points along the elevation
[code]
This should speed up generating profiles no matter how big the line is. Will add this to the profile tool

[2022-05-16 14:36] NyakudyaA commented on #41
This has been deployed to both staging and production

[2022-05-16 14:36] #41 closed

[2022-05-16 14:43] NyakudyaA opened #57 "We need to restrict access for the profile tool"
# Problem
Currently, the profile tool is globally installed and accessible for both Pro and Lite users. We need to modify the code to restrict access based lizmap rights

![rights](https://user-images.githubusercontent.com/2510900/168619124-bc325533-57af-4b8d-bcc2-ac0646c1a722.png)

# Solution
Modify https://github.com/arno974/lizmap-altiProfil

[2022-05-19 10:15] NyakudyaA commented on #57
This can be done using js expressions.

[code]
@gubuntu Should I proceed to hide it for the Lite?

[2022-05-19 11:15] gubuntu commented on #57
If you can, then please do so, but schedule for Monday to give a few days for Lite users to try it out

[2022-05-20 06:36] NyakudyaA commented on #21
Deployed on staging

[2022-05-20 06:42] NyakudyaA commented on #57
The profile tool is now only visible for the topo maps. I will remove access to the Lite-on Sunday night and close this

[2022-05-20 07:13] gubuntu commented on #57
there's no reason to remove it from hybrid and orthophoto maps

[2022-05-20 08:09] NyakudyaA commented on #57
Ok, will add it back there as well.

[2022-05-20 16:08] NyakudyaA commented on #26
I have deployed this on staging.
![Peek 2022-05-20 18-04](https://user-images.githubusercontent.com/2510900/169568298-e9be36af-c0cc-4915-870f-d81ff2d6500d.gif)

@gubuntu Should I deploy to production?

[2022-05-20 16:36] gubuntu commented on #26
nice, I reckon. But ask on the WA group first

[2022-05-23 06:52] NyakudyaA commented on #57
This is deployed with all required changes

[2022-05-27 12:07] gubuntu commented on #15
but the error I am sure is on the supplier side (OSM), nothing to do with QGIS server. Are you saying that 300dpi topo or ortho maps are rendering fine?

[2022-05-27 18:58] #57 closed

[2022-07-18 14:54] bflouw opened #59 "Members not able to log in"
It seems that members cannot log in to the map downloader. Members cannot get beyond the Lite version. In the Lite version, the NGI topo layer is not visible. The only options under layers are OSM and NGI orthophoto.

[2022-07-18 14:56] NyakudyaA commented on #59
Checking this, it might be related to the updates that where done to the sagta site. No changes have been made to the downloader. Checking now

[2022-07-18 15:19] bflouw opened #60 "Map downloader"
Thanks for correcting the log-in. There is still an issue with the Lite version. It does not have the 1:50K map layer as an option under layers. The layer is there when selecting a print map but it is not visible as an option to the user.

[2022-07-19 04:33] #59 closed

[2022-07-22 09:25] gubuntu commented on #60
@NyakudyaA @seabilwe the Lite version should look asactly like the Pro version. Why is it different? Please fix (and assign yourself, for some reason I can't assign you Seabilwer)

[2022-07-22 09:29] gubuntu opened #61 "Make text visible"
This has been mentioned as a problem for months, why was there no issue? Things don't get fixed without an issue.

Users struggle to read the login prompts so many are not aware that they have to login, or where to login, to access the Pro version. Please fix asap

<img width="393" alt="Screenshot 2022-07-22 at 11 26 21" src="https://user-images.githubusercontent.com/496911/180409202-afff7ed9-2b97

[2022-07-22 12:01] seabilwe commented on #60
As Brandon mentioned, the topo sheet does not appear on startup for the Lite version, but when printing the map, the toposheet is printed out.
![image](https://user-images.githubusercontent.com/56301949/180432790-af2317b8-4427-4a3f-8b97-f24f80b7ca65.png)

On the LizMap config window, the topo sheet is saved as a base layer, similarly to the Pro version, it is not available on the site as an option

[2022-07-22 12:16] seabilwe commented on #47
@NyakudyaA @gubuntu, should I remove them completely or set the stroke style to 'No Pen'?
![image](https://user-images.githubusercontent.com/56301949/180437355-ddb867e5-78ee-42d9-bbaf-84e4b586bda4.png)

[2022-07-22 12:18] NyakudyaA commented on #47
You should ask @bflouw what he prefers

[2022-07-22 12:21] seabilwe commented on #43
@NyakudyaA , if I'm not mistaken LizMap is now at 3.6.0, is it safe to add the overview map back again?

[2022-07-22 12:28] NyakudyaA commented on #43
On staging, it should already be using a version that allows us to have the overview. I will also update staging to 3.6 and test if nothing is broken as well

[2022-07-25 19:21] bflouw opened #62 "Login to map downloader"
The login function gives a "404 Not found" error. The lite version only has the OSM and NGI Orthophoto layer. There is no 1:50K topo layer.

[2022-08-01 04:26] gubuntu commented on #47
The red lines are not the graticule, they are the index grid (and where are the letters and numbers for the grid?)

It doesn't look like there's a black graticule on your example @seabilwe.

@bflouw could you please post a screenshot of the the problem

[2022-08-01 04:27] gubuntu commented on #60
is this a bug? Has it been fixed? If so post a screenshot of the corrected situation and close

[2022-08-01 07:20] seabilwe commented on #47
Brandon is referring to the map index on the orthophoto.
![image](https://user-images.githubusercontent.com/56301949/182093322-ac0fbfbd-9614-46b2-b594-46f895a0b416.png)

There are two options:
1.  Switch off the map index layer before printing the map, and continue to print.
2. Remove the map index layer from the ortho map project.

[2022-08-01 07:28] seabilwe commented on #60
The bug has not been fixed yet.

@NyakudyaA, please have a look at this

[2022-08-01 07:28] gubuntu commented on #47
the orthophoto web view can have the index layer

the orthophoto print map should have no graticule nor index grid, only orthophoto, contours, spot heights and trig beacons.

[2022-08-01 07:38] NyakudyaA commented on #60
Seems like the issue is because we need to upgrade lizmap and I will switch staging to production which is upgraded. Will add the login button first and then post when it's resolved

[2022-08-01 07:40] seabilwe commented on #47
[sagta_ortho_A3_landscape_orthophoto.pdf](https://github.com/kartoza/SAGTA/files/9231891/sagta_ortho_A3_landscape_orthophoto.pdf)

the issue has been fixed

[2022-08-01 09:56] bflouw opened #63 "1:50K topo layer not shown on both Lite and Pro version of map downloader"
I checked the map downloader today and noticed that the 1:50k topo layer is not visible to the user. It does render when you print a map but this defeats the purpose as users want to choose a specific area on the topo sheet and then print a map. Previously the index layer was displayed as a default overlay and when a topo map was printed the graticule would be printed in red in the centre of the m

[2022-08-01 10:02] NyakudyaA commented on #63
Hi @bflouw, I am going to swap staging to the **production** shortly. The production needs to be upgraded to a new version t ofix that issue

[2022-08-04 09:04] bflouw opened #64 "Rendering of map in map downloader showing error and map not downloading"
There is an error that shows up on the map alphanumerical grid when printing the map. There is also a network error when trying to download the printed map. This error occurs in both the lite and pro versions.

[2022-08-04 09:29] seabilwe commented on #64
@bflouw I have tested the site on my end, and I am not getting any errors
![replicating error](https://user-images.githubusercontent.com/56301949/182813742-f490d139-72e6-44f2-8354-2c43767d46c1.gif)

[2022-08-04 10:07] bflouw commented on #64
Hi Abi

Might be a network issue on my side. I managed to print the map and this is one of the errors - the alphanumeric grid is not aligned and the last label is given as an error. Please not attached.

Regards,

Brandon F. Louw
HOD Geography

M: +27 82 9275671
T:  +27 11 645 3052
E: ***@***.***

[2022-08-04 10:14] seabilwe commented on #64
Hi, @bflouw I am not sure what could be causing the issue on your end. I printed it out from different browsers, but the issue you are having is not replicated on my side
![image](https://user-images.githubusercontent.com/56301949/182823058-2a444839-9b42-47a3-8f0e-a50996a699e6.png)

[2022-08-04 10:14] seabilwe commented on #64
@NyakudyaA can you also try to print

[2022-08-04 17:06] NyakudyaA commented on #64
You need to enable popus

[2022-08-04 17:06] #64 closed

[2022-08-04 17:07] NyakudyaA commented on #63
![Selection_002](https://user-images.githubusercontent.com/2510900/182909791-40143c8f-9cbb-46d9-986e-9a5e9a674ae1.png)

[2022-08-04 17:07] #63 closed

[2022-08-04 17:07] NyakudyaA commented on #62
This is resolved. Login is possible

[2022-08-04 17:07] #62 closed

[2022-08-04 17:08] NyakudyaA commented on #60
This is fixed

[2022-08-04 17:08] #60 closed

[2022-08-04 17:10] NyakudyaA commented on #47
Currently, the issue happens because of the main upstream issue where lizmap prints all visible layers. @bflouw Would you be ok with me deactivating the index file to be visible by default

[2022-08-04 17:56] NyakudyaA commented on #43
![Uploading over-view.png…]()

[2022-08-04 17:56] #43 closed

[2022-08-04 17:56] #21 closed

[2022-08-04 17:57] #24 closed

[2022-08-04 17:58] NyakudyaA commented on #9
Can you fix the edge cases and revert here @vermeulendivan

[2022-08-08 13:12] vermeulendivan opened #65 "Move map label of half-blocks to center"
Currently half-block's label is position at the bottom (or to the right for the x-axis). This happens because each grid in a QGIS layout is limited to one offset value for the x-axis and one for the y-axis. Therefore, changing the value changes the position for ALL labels, which we don't want to happen.

![image](https://user-images.githubusercontent.com/79740955/183425053-363c0f67-e647-4fe6-a2cd-

[2022-08-29 10:00] NyakudyaA opened #66 "Overview map"
# Problem

I just clicked in the overview map and it no longer zooms the main map to where you click

[2022-11-01 09:52] gubuntu opened #67 "pdfs have web layers instead of layout definition"
This came up in the WA group on 28 Oct showing the map grid and index layer on layouts.

This example is a layout from the Lite version, which should only be topo maps. I had changed the web base map to ortho - so the layout now has ortho and the index layer!
[document.pdf](https://github.com/kartoza/SAGTA/files/9908735/document.pdf)

[2022-11-01 10:08] gubuntu opened #68 "investigate NGI or self-hosted topo sheets as fallbacks to OSM topo"
We have tried this but there doesn't seem to be an issue around it.

Currently we use OSM-hosted topo sheets. These work fine but don't support high load and don't render closer than 1:10000.

The NGI portal http://apollo.cdngiportal.co.za/erdas-iws/ogc/wms/CDNGI_PORTAL_BACKDROP provides an equivalent, which does render closer than 1:10000 and is built for production load. It works nicely as a WMS

[2022-11-02 07:47] NyakudyaA commented on #67
This was caused by a consequence of the changes in lizmap. https://github.com/3liz/lizmap-web-client/issues/2999 I will fix the graticule issue but I suggest we remove the other base maps since now it only prints visible layers